<% collection = Testimonial.list_for_visitors %>
<% if collection.load.any? %>
  <section class="index-testimonials">
    <h2><%= t('.heading') %></h2>

    <%=
      render(
          partial: 'testimonials/carousel',
          locals: {
              collection: collection
          }
      )
    %>
  </section>
<% end %>
