<% if Biovision::Components::TestimonialsComponent.allow?(current_user) %>
  <nav>
    <h3><%= t('.heading') %></h3>

    <ul>
      <li><%= render 'admin/testimonials/nav_item' %></li>
    </ul>
  </nav>
<% end %>
