<div itemprop="review" itemscope itemtype="http://schema.org/Review">
  <figure>
    <figcaption itemprop="author"><%= testimonial.name %></figcaption>
    <blockquote itemprop="reviewBody">
      <%= simple_format(testimonial.text) %>
    </blockquote>
  </figure>
  <%= time_tag(testimonial.date, itemprop: 'datePublished') %>
</div>
